<div class="btn btn-success" [ngClass]="{'item-container' : true, 'disabled' : !clickAble}" (click)="onClick()">
  <div class="col-12 beveage-icon"><img [src]="'../../assets/imgs/' + can.icon" /></div>
  <div class="col-12 beveage-desc" >
    <span class="left-align">{{ can.type }}</span>
    <span class="right-align">{{ can.price | currency }}</span>
  </div>
  <div class="col-12 amount-input">
      <input #amountInput class="invisible" [value]="can.amount" maxlength="4" (blur)="addCans($event)">
  </div>
</div>
