<div class="container">
  <div class="row">{{ can.type }} {{ can.price }} {{ can.amount }}</div>
  <div class="row">
    <div class="col-12">
      <app-cash-component
        [disabled]="cashInputDisabled"
        (paymentProceeded)="onCashSubmit($event)"
      ></app-cash-component>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-credit-component
        [disabled]="cashInputDisabled"
        (paymentProceeded)="onCreditSubmit()"
      ></app-credit-component>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ cashChange }}
    </div>
  </div>
</div>
